/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@import 'preline/variants.css';
@source "../node_modules/preline/dist/*.js";
@custom-variant dark (&:where(.dark, .dark *));

/* Optional Preline UI Datepicker Plugin */
/* @import "preline/src/plugins/datepicker/styles.css"; */

/* Plugins */
/* @plugin "@tailwindcss/forms"; */
/* @plugin "@tailwindcss/aspect-ratio"; */

.preline-toast-snackbar .mdc-snackbar__surface {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.preline-toast-snackbar.mat-mdc-snack-bar-container {
  background: transparent !important;
  box-shadow: none !important;
}
